#dialog-controls {
  margin: 30px 0;

  .btn-floating {
    margin: 0 20px;
  }
}

#dialog-welcome {
  user-select: none;
}

#message-list {
  overflow-y: auto;
}

.message {
  .message-header {
    margin-bottom: 10px;
  }

  .message-label {
    margin-bottom: 10px;

    .btn-floating {
      margin-left: 10px;
    }
  }

  .message-text {
    word-break: break-all;
    white-space: pre-line;
  }

  img {
    max-width: 100%;

    &:hover {
      cursor: pointer;
    }
  }
}
