.l-container {
  margin: 0 auto;
  max-width: 900px;
  width: 90%;
}

.l-row {
  margin-left: auto;
  margin-right: auto;

  &:after {
    content: "";
    clear: both;
    display: block;
  }
}

.l-flexbox-wrapper {
  display: flex;
  height: 100vh;
  flex-direction: column;

  main {
    flex: 1 1 auto;
  }
}

.l-valign-wrapper {
  display: flex;
  align-items: center;

  .l-valign {
    display: block;
  }
}

.l-center {
  text-align: center;
}

.l-left {
  float: left !important;
}

.l-right {
  float: right !important;
}
